body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items: center;
background-color: #fffeb9;
}

header {
  background-color: #fffeb1;
  border: 3px solid #6de954;
  text-align: center;
  color: #929292;
}

button{
  width: 100px;
  padding: 10px;
    border: 2px solid #999999;
    background: #ffed84;
    font-size: 30px;
    color: #7c7c7c;
    text-align: center;
  position: relative;

}

main {
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 20px;
  color: #929292;
}

h1{
  color: #ff6b6b;
}

h2{
  border-bottom: 1px solid #ccc;
  font-size:20px;
  color: #ff6b6b;
}


footer {
  background-color: #929292;
  border-bottom: 1px solid #ccc;
  text-align: center;

}

