body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    font-family: Impact;
    width:100%;
    background-color: #fffeaf;
}
header{
    /* background-color: #fffeaf; */
    border-bottom: 1px solid #ccc;
    text-align: center;
}
h1{
    font-size: 50px;
    text-align: center;
    color:#555;
}
main{
    background-color: #fffeaf;
    width:100%;
    display: block;
    border-bottom:1px solid #d3d3d3;
    position:relative;
}
footer{
    background-color: #fffeaf;
    border-bottom:1px solid #ccc;
    text-align: center;
    color: #555;
}
p{
    background-color: #fffeaf;
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}
ul{
    background-color: #fffeaf;
    padding: 0;
    border-top: 1px solid #ffffff98;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:96%;
    font-size: 80%;
    margin: 0 3%;
    text-align: center;
}
li{
    list-style-type:none;
    border: 1px solid #666;
    background-color: #fdfad4;
    display:table-cell;  /* 定義 */
    cursor: pointer;
    color:#7e7e7e;
}
li:hover{
    background:rgb(138, 137, 137);
    color:#f7ffd1;
}
textarea{
  margin: 10px 3%;
  width: 95%;
  height: 100px;
  font-size:60%;
  box-shadow: 3px 3px 3px 3px #555;
  background-color: #fffef0;
}
#key{
    margin:0 3%;
    width: 95%;
    font-size:80%;
    background-color: #fdfad4;
    box-shadow: 3px 3px 3px 3px #555;
}
table{
    margin: 20px 3%;
    border:1px solid #faf877;
    width:96%;
    
}
th{
    width:30%;
    font-size:24px;
    background-color: #fffeaf;
    border-bottom: 1px solid #fcfaac;
}
td{
    font-size:16px;
    background-color:#fdfad4;
    border-bottom: 1px solid #f5f38d;
}
